!pip install \
    "pydantic>=2.0" \
    "pydantic-settings>=2.0" \
    optuna \
    mlflow \
    tqdm \
    keras-tqdm \
    seaborn \
    scikit-learn \
    nibabel \
    pandas \
    chardet \
    tensorflow \
    matplotlib \
    opencv-python \
    numpy \
    google-colab
